<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>厨房系统</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="top"><h1 id="warning">先别操作</h1></div>
    <div class="left">
        现有物件如下：<br/>
        {% for item in notZeroItems %}
        <li>{{item.name}}{{item.num}}{{item.unit}}</li>
        {% endfor %}
    </div>
    <div class="right">
        {% for item in notZeroItems %}
        <div id="{{item.name}}" class="item">
            <img src="/static/images/{{item.name}}.jpg" alt="{{item.name}}"><br/>
            {{item.name}}<br/>
            <input type="button" value="减少" onclick="reduce('{{item.name}}')"><span id="{{item.name}}num">{{item.num}}</span><input type="button" value="增加" onclick="add('{{item.name}}')">
        </div>
        {% endfor %}
        {% for item in zeroItems %}
        <div id="{{item.name}}" class="item">
            <img src="/static/images/{{item.name}}.jpg" alt="{{item.name}}"><br/>
            {{item.name}}<br/>
            <input type="button" value="减少" onclick="reduce('{{item.name}}')"><span id="{{item.name}}num">{{item.num}}</span><input type="button" value="增加" onclick="add('{{item.name}}')">
        </div>
        {% endfor %}
    </div>
    <script src="/static/js/socket.io.slim.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>