<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>厨房系统</title>
</head>
<body>
  <div class = 'mainContainer'>
    <div class='head'>欢迎来到厨房系统</div>
    <div class='mainContent'>
      <div class='leftMeun'>
        <h3>已有一下物件:</h3>
       <ul>
       <li>土豆6个</li>
       <li>茄子5个</li>
       </ul>
      </div>
      <div class='rightContent'>
        <div class='chip'>
          <div class='chipImg'>
          <img src='http://127.0.0.1:2333/static/images/土豆.jpg' alt='土豆'></img>
          </div>
          <div class='chipRight'>
            <div class='chipName'>a</div>
            <div class='chipBottom'>a</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>